// place your custom styles here
.text-color {
  color: #333;
}
.mr {
  margin-right: 20px;
}
.icon-ga {
  width: 14px;
  height: 16px;
  display: inline-block;
  background-image: url(/icon-ga.png);
  background-size: 100% 100%;
  position: relative;
  top: 2px;
  margin-right: 3px;
}
